/* :root {
  --bg: blue;
} */

.light-mode {
  --bg: #fff;
  --logo-color: #000;
  --toolbar-header-container-background-color: hsla(0, 0%, 100%, 0.6);
  --menu-icon-hamburger-color: #000;
  --navigation-drawer-background-color: #fff;
  --full-screen-cover-color: rgb(33, 33, 33);
  --navigation-drawer-social-icons-border-color: #f2f2f2;
  --navigation-drawer-socila-icons-background-color-hover: #f2f2f2;
  --footer-background-color: #fafbfc;
  --component-content-section-background-color: #fafbfc;
  --component-content-section-description-color: inherit;
  --home-page-top-section-text-color: #000;
  --home-page-blog-section-title-color: #000;
  --home-page-blog-section-post-title-color: #000;
  --home-page-blog-section-post-description: #000;
  --more-content-button-background-color: #fff;
  --more-content-button-text-color: #000;
  --home-page-social-icons-section-color: #000;
}

.dark-mode {
  --bg: #000;
  --logo-color: #fff;
  --toolbar-header-container-background-color: hsla(0, 0%, 0%, 0.6);
  --menu-icon-hamburger-color: #fff;
  --navigation-drawer-background-color: #1a1a1a;
  --full-screen-cover-color: #000000;
  --navigation-drawer-social-icons-border-color: #262626;
  --navigation-drawer-socila-icons-background-color-hover: #404040;
  --footer-background-color: #000;
  --component-content-section-background-color: #000;
  --component-content-section-description-color: #bfbfbf;
  --home-page-top-section-text-color: #fff;
  --home-page-blog-section-title-color: #fff;
  --home-page-blog-section-post-title-color: #fff;
  --home-page-blog-section-post-description: #fff;
  --more-content-button-background-color: #000;
  --more-content-button-text-color: #fff;
  --home-page-social-icons-section-color: #fff;
}